@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/Nohemi.ttf');
}

:root [data-theme='crimson'] {
    --theme-font-family-base: 'Nohemi', sans-serif;
    --theme-font-family-heading: 'Nohemi', sans-serif;
}

.gradient-heading {
    @apply bg-clip-text text-transparent box-decoration-clone;
    @apply bg-gradient-to-tr;
    @apply from-primary-500 from-40% via-tertiary-500  to-primary-700;
}