@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/Nohemi.ttf');
}

:root [data-theme='crimson'] {
    --theme-font-family-base: 'Nohemi', sans-serif;
    --theme-font-family-heading: 'Nohemi', sans-serif;
}